html, 
body {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    background: #f7f9fb;
    font-size: 14px;
}

label {
    margin-bottom: 5px;
}

.btn-primary {
    background: #00897b;
    border: 1px solid #00897b;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background: #00665c;
    border: 1px solid #00665c;
}

.block {
    display: block;
}

.full-width {
    width: 100%;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mr5 {
    margin-right:5px;
}

.mr10 {
    margin-right:10px;
}

.mb30{
    margin-bottom: 30px;
}

.p0 {
    padding: 0!important;
}

.p10 {
    padding: 10px;
}

.inline {
    display: inline;
}

.form-control {
    font-size: 14px;
    color: #222;
}

.text-left {
    text-align: left;
}

.main {
    padding: 20px;
    padding-left:320px
  }

 .expanded th, .expanded td {
        padding: 1.5rem 1.5rem;      
 }

 

.btn-fab {
    position:fixed;
    z-index: 9999;
    bottom: 20px;
    right:20px;
    box-shadow: 3px 3px 3px #c7c7c7;
}